body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: lightskyblue;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}